APP_NAME=LinkViewer
APP_ENV=dev
APP_DEBUG=true
APP_URL=http://linkviewer.test

DB_HOST=localhost
DB_PORT=3306
DB_NAME=linkviewer
DB_USER=root
DB_PASS=

SESSION_LIFETIME=480
CSRF_SECRET=cambiame_por_algo_seguro
